@tailwind base;
@tailwind components;
@tailwind utilities;

h2[id] a {
  color: blue;
  text-decoration: underline;
}

.horizontal-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  border-radius: 10px;
  background-color: #3182ce;
  transition: width 0.2s ease-in-out;
  z-index: 10;
}

.spinner-overlay {
  position: relative;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in-animation 0.5s ease-in forwards;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quote-text {
    position: relative;
    font-size: 1.2rem;
    font-style: italic;
    padding-left: 1rem;
    border-left: 4px solid #444;
}

